<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MainEndpoint" value="http://localhost:10002" />
        
        <add key="AllDevices" value="/allDevices" />        
        <add key="Refresh" value="/refresh" />
        
        <add key="SpecificStatistic" value="/specificStatistic" />
        <add key="SpecificTodayStatistic" value="/specificTodayStatistic" />
        <add key="StatisticToday" value="/statisticToday" />

        <add key="AddAccount" value="/addAccount" />
        <add key="DeleteAccount" value="/deleteAccount" />

        <add key="SetFriendlyName" value="/setFriendlyName" />
        <add key="SetDeviceName" value="/setDeviceName" />
        <add key="SetDeviceTopic" value="/setDeviceTopic" />
        <add key="SetTimer" value="/setTimer" />
        <add key="DeviceProfiles" value="/deviceProfiles" />
        <add key="EditProfile" value="/editProfile" />
        <add key="SwitchPowerState" value="/switchPowerState" />
    </appSettings>
</configuration>