<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MainEndpoint" value="http://localhost:10002" />
        <add key="AllDevices" value="/allDevices" />
        <add key="SwitchPowerState" value="/switchPowerState" />
        <add key="Refresh" value="/refresh" />
        <add key="SpecificStatistic" value="/specificStatistic" />
        <add key="SpecificTodayStatistic" value="/specificTodayStatistic" />
        <add key="StatisticToday" value="/statisticToday" />
    </appSettings>
</configuration>