<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RequiredDirectories" value="statistics;profiles" />
        <add key="StatisticsPath" value="./statistics/" />
        <add key="ProfilesPath" value="./profiles/deviceProfiles.dp" />
        <add key="Username" value="havilland" />
        <add key="Password" value="havillandHA123*" />
        <add key="BrokerIp" value="192.168.1.237" />
        <add key="BrokerPort" value="1883" />
    </appSettings>
</configuration>